table
{
  width: 100%;

}
.search-input{
  align-items: center;
  border: 1px solid #CCC;
  padding : 8px 10px;
  border-radius: 2px;
  outline: none;


}
.search-input:active
{
  border :1px solid #BBB

}

